Message/Connected Services/UserServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServerWCF.Model" />
  <xs:element name="AddOrUpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerWCF.Model" minOccurs="0" name="user" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrUpdateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServerWCF.Model" minOccurs="0" name="GetUserResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServerWCF.Model" minOccurs="0" name="GetUserByEmailResult" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServerWCF.Model" minOccurs="0" name="owner" nillable="true" type="q4:User" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServerWCF.Model" minOccurs="0" name="owned" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddContactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServerWCF.Model" minOccurs="0" name="owner" nillable="true" type="q6:User" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServerWCF.Model" minOccurs="0" name="owned" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveContactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServerWCF.Model" minOccurs="0" name="owner" nillable="true" type="q8:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServerWCF.Model" minOccurs="0" name="GetAllContactsResult" nillable="true" type="q9:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServerWCF.Model" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q10:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersByLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersByLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServerWCF.Model" minOccurs="0" name="GetAllUsersByLoginResult" nillable="true" type="q11:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServerWCF.Model" minOccurs="0" name="sender" nillable="true" type="q12:User" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServerWCF.Model" minOccurs="0" name="receiver" nillable="true" type="q13:User" />
        <xs:element minOccurs="0" name="limin" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServerWCF.Model" minOccurs="0" name="GetMessagesResult" nillable="true" type="q14:ArrayOfMessageT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keyWord" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServerWCF.Model" minOccurs="0" name="FindMessageResult" nillable="true" type="q15:ArrayOfMessageT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>