Message/Connected Services/UserServiceReference/ServerWCF.Model.UiInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerWCF.Model.UiInfo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerWCF.Model.UiInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="ArrayOfUiInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UiInfo" nillable="true" type="tns:UiInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUiInfo" nillable="true" type="tns:ArrayOfUiInfo" />
  <xs:complexType name="UiInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Images" nillable="true" type="q1:Image" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UiInfo" nillable="true" type="tns:UiInfo" />
  <xs:complexType name="UserUiInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UiInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserUiInfo" nillable="true" type="tns:UserUiInfo" />
  <xs:complexType name="ChatGroupUiInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UiInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChatGroupId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChatGroupUiInfo" nillable="true" type="tns:ChatGroupUiInfo" />
</xs:schema>