Message/Connected Services/UserServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServerWCF.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_AddNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddContact_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContact" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContactResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContacts" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllUsersByLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersByLogin" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllUsersByLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersByLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="AddNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddNewUser" message="tns:IUserService_AddNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddNewUserResponse" message="tns:IUserService_AddNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUser" message="tns:IUserService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserResponse" message="tns:IUserService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddContact" message="tns:IUserService_AddContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddContactResponse" message="tns:IUserService_AddContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllContacts" message="tns:IUserService_GetAllContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllContactsResponse" message="tns:IUserService_GetAllContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllUsers" message="tns:IUserService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllUsersResponse" message="tns:IUserService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllUsersByLogin" message="tns:IUserService_GetAllUsersByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllUsersByLoginResponse" message="tns:IUserService_GetAllUsersByLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <soap:operation soapAction="http://tempuri.org/IUserService/AddContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContacts">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAllContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersByLogin">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAllUsersByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServerWCF/IUserService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>