Message/Connected Services/UserServiceReference/ServerWCF.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerWCF.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerWCF.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServerWCF.Model.Contacts" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ServerWCF.Model.Messages" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Bio" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerWCF.Model.Contacts" minOccurs="0" name="Contacts" nillable="true" type="q1:ArrayOfBaseContact" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServerWCF.Model.Contacts" minOccurs="0" name="Owners" nillable="true" type="q2:ArrayOfUserToUserContact" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnreadMessageCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ChatGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServerWCF.Model.Contacts" minOccurs="0" name="Participants" nillable="true" type="q3:ArrayOfUserToGroupContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatGroup" nillable="true" type="tns:ChatGroup" />
  <xs:complexType name="ArrayOfChatGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChatGroup" nillable="true" type="tns:ChatGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChatGroup" nillable="true" type="tns:ArrayOfChatGroup" />
  <xs:complexType name="ApplicationSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowNotifications" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Theme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="WindowSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationSettings" nillable="true" type="tns:ApplicationSettings" />
  <xs:complexType name="UserMessage">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/ServerWCF.Model.Messages" base="q4:BaseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReceiverId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserMessage" nillable="true" type="tns:UserMessage" />
  <xs:complexType name="ArrayOfUserMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserMessage" nillable="true" type="tns:UserMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserMessage" nillable="true" type="tns:ArrayOfUserMessage" />
</xs:schema>