Message/Connected Services/FileService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServerWCF.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileService_getChatFileById_InputMessage">
    <wsdl:part name="parameters" element="tns:getChatFileById" />
  </wsdl:message>
  <wsdl:message name="IFileService_getChatFileById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getChatFileByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_getChatFileByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getChatFileByName" />
  </wsdl:message>
  <wsdl:message name="IFileService_getChatFileByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getChatFileByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IFileService_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_UpdateFileSource_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileSource" />
  </wsdl:message>
  <wsdl:message name="IFileService_UpdateFileSource_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileSourceResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileService">
    <wsdl:operation name="getChatFileById">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/getChatFileById" message="tns:IFileService_getChatFileById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/getChatFileByIdResponse" message="tns:IFileService_getChatFileById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getChatFileByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/getChatFileByName" message="tns:IFileService_getChatFileByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/getChatFileByNameResponse" message="tns:IFileService_getChatFileByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/UploadFile" message="tns:IFileService_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/UploadFileResponse" message="tns:IFileService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFileSource">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/UpdateFileSource" message="tns:IFileService_UpdateFileSource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/UpdateFileSourceResponse" message="tns:IFileService_UpdateFileSource_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileService" type="tns:IFileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getChatFileById">
      <soap:operation soapAction="http://tempuri.org/IFileService/getChatFileById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getChatFileByName">
      <soap:operation soapAction="http://tempuri.org/IFileService/getChatFileByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IFileService/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFileSource">
      <soap:operation soapAction="http://tempuri.org/IFileService/UpdateFileSource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileService">
    <wsdl:port name="BasicHttpBinding_IFileService" binding="tns:BasicHttpBinding_IFileService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServerWCF/IFileService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>