Message/Connected Services/PhotoServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhotoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhotoService_GetPhotoById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotoById" />
  </wsdl:message>
  <wsdl:message name="IPhotoService_GetPhotoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPhotoService_SetPhotoById_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPhotoById" />
  </wsdl:message>
  <wsdl:message name="IPhotoService_SetPhotoById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPhotoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPhotoService_GetFileByMessageId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileByMessageId" />
  </wsdl:message>
  <wsdl:message name="IPhotoService_GetFileByMessageId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileByMessageIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPhotoService_SetFileToMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SetFileToMessage" />
  </wsdl:message>
  <wsdl:message name="IPhotoService_SetFileToMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetFileToMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhotoService">
    <wsdl:operation name="GetPhotoById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhotoService/GetPhotoById" message="tns:IPhotoService_GetPhotoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhotoService/GetPhotoByIdResponse" message="tns:IPhotoService_GetPhotoById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPhotoById">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhotoService/SetPhotoById" message="tns:IPhotoService_SetPhotoById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhotoService/SetPhotoByIdResponse" message="tns:IPhotoService_SetPhotoById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileByMessageId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhotoService/GetFileByMessageId" message="tns:IPhotoService_GetFileByMessageId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhotoService/GetFileByMessageIdResponse" message="tns:IPhotoService_GetFileByMessageId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetFileToMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhotoService/SetFileToMessage" message="tns:IPhotoService_SetFileToMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhotoService/SetFileToMessageResponse" message="tns:IPhotoService_SetFileToMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPhotoService" type="tns:IPhotoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPhotoById">
      <soap:operation soapAction="http://tempuri.org/IPhotoService/GetPhotoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPhotoById">
      <soap:operation soapAction="http://tempuri.org/IPhotoService/SetPhotoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileByMessageId">
      <soap:operation soapAction="http://tempuri.org/IPhotoService/GetFileByMessageId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFileToMessage">
      <soap:operation soapAction="http://tempuri.org/IPhotoService/SetFileToMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhotoService">
    <wsdl:port name="BasicHttpBinding_IPhotoService" binding="tns:BasicHttpBinding_IPhotoService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServerWCF/IPhotoService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>